name: Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: snithyanantham/docker-compose-multiple-apps-heroku-deploy@v1.0 # This is the action
        with:
          api_key: ${{secrets.HEROKU_API_KEY}}
          email: "xhp980302306@gmail.com"
          docker_compose_file: '../../docker-compose.yml'
          heroku_apps: '[{"imagename":"mongo","appname":"mongodb","apptype":"worker"},{"imagename":"mongo-express","appname":"mongo-express","apptype":"worker"},{"imagename":"web-backend","appname":"backend","apptype":"web"},{"imagename":"web-frontend","appname":"frontend","apptype":"web"}]' # List of Docker Image name, Heroku app and Heroku app type
